<launch>
    <arg name="rviz_gui_on" default="true" doc="Start RViz gui client"/>
    <arg name="rqt_gui_on" default="false" doc="Start Rqt gui client"/>
	  <arg name="headless" value="true" doc="Run uuv sim headlessly"/>
	  <arg name="gui" value="True"/>
    <arg name="uuv_name" default="rexrov2"/>
    <arg name="model_name" default="rexrov2"/>
    <arg name="mode" default="diag"/>
    <arg name="dollar" default="$"/>
    <arg name="model_control" value="(find $(arg model_name)_control)"/>
    <arg name="model_description" value="(find $(arg model_name)_description)"/>
    <!-- Thruster manager configuration -->
    <arg name="thruster_manager_output_dir"
         default="$(arg dollar)$(arg model_control)/config"
         doc="Output directory for the generated thruster manager"/>

    <arg name="thruster_manager_config_file"
         default="$(arg dollar)$(arg model_control)/config/thruster_manager.yaml"
         doc="File storing the configuration of the thruster manager"/>

    <arg name="tam_file"
         default="$(arg dollar)$(arg model_control)/config/TAM.yaml"
         doc="File storing the thruster allocation matrix"/>

    <include file="$(find experience_scenarios)/launch/empty_underwater_world.launch">
      <arg name="gui" value="$(arg gui)"/>
      <arg name="headless" value="$(arg headless)"/>
      <arg name="paused" value="true"/>
    </include>

    <include file="$(arg dollar)$(arg model_description)/launch/upload_$(arg model_name)_$(arg mode).launch">
    </include>

    <!-- Start the thruster allocation manager -->
    <include file="$(find uuv_thruster_manager)/launch/thruster_manager.launch">
      <arg name="uuv_name" value="$(arg uuv_name)" />
      <arg name="model_name" value="$(arg model_name)" />
      <arg name="output_dir" value="$(arg thruster_manager_output_dir)" />
      <arg name="config_file" value="$(arg thruster_manager_config_file)" />
      <arg name="tam_file" value="$(arg tam_file)" />
    </include>

    <!-- Start RViz  -->
    <group if="$(arg rviz_gui_on)">
      <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(arg dollar)$(arg model_control)/rviz/$(arg model_name)_control.rviz"/>
    </group>
    <group if="$(arg rqt_gui_on)">
      <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
    </group>
</launch>
